<div class="form">
    <h2>Registration Form</h2>
    <form  class="fromForm">
        <div class="form-drup">
            <label for="">First name</label>
            <input type="text">
        </div>

        <div class="form-drup">
            <label for="">Last name</label>
            <input type="text">
        </div>

        <div class="form-drup">
            <label for="">Email</label>
            <input type="text">
        </div>

        <div class="form-drup">
            <label for="">Password</label>
            <input type="text">
        </div>

        <div class="form-drup">
            <label for="">Confirm Password</label>
            <input type="text">
        </div>


        <div class="btn">
            <button class="btn btn-primary">Submit</button>
            <button class="btn btn-warning">Reset</button>
        </div>
    </form>
</div>